extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
               h1= title
    .row
        .col-md-6.col-sm-12
            p
                | MEAN playground app was created to try a MEAN stack.
                | <br /><br />
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.