<navigation></navigation>

<div class="container">
	<page-header content="vm.pageHeader"></page-header>
	
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- Login link, containing a reference to "last visited" page -->
			<p class="lead">Already a member? Please <a href="/login?page={{vm.returnPage}}"> log in</a> instead.</p>

			<!-- Main registration form -->
			<form ng-submit="vm.onSubmit()">

				<!-- Error placeholder -->
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

				<!-- Full name placeholder -->
				<div class="form-group">
					<label for="name">Full name</label>
					<input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
				</div>

				<!-- Email placeholder -->
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
				</div>

				<!-- Password placeholder -->
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
				</div>

				<!-- Submit button -->
				<button type="submit" class="btn btn-default">Register!</button>
			</form>
		</div>
	</div>

	<page-footer></page-footer>
</div>